<%- include ../layouts/header.ejs %>
<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header2">
            <small>Listas Auxiliares</small>
        </h1>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-4 portfolio-item">
            <a href="/apuracao/variadaView">
                <img class="img-responsive" src="../images/report.png" alt="">
            </a>
            <h3>
                <a href="/apuracao/variadaView">Pesca Variada Lista</a>
            </h3>
            <p>Lista por raia.</p>
        </div>

        <!--<div class="col-md-4 portfolio-item">
            <a href="/apuracao/especificaView">
                <img class="img-responsive" src="../images/report.png" alt="">
            </a>
            <h3>
                <a href="/apuracao/especificaView">Pesca Específica Lista</a>
            </h3>
            <p>Lista por raia.</p>
        </div>-->
    </div>

</div>


<%- include ../layouts/footer.ejs %>
