<html>
    <head>
        <title>Pirates</title>
        <link href="/../javascripts/bootstrap/dist/css/bootstrap.css" rel="stylesheet">
        <link href="/../javascripts/bootstrap/dist/css/bootstrap-theme.css" rel="stylesheet">
        <link href="/../stylesheets/style.css" rel="stylesheet">

        <script type="text/javascript" src="/../javascripts/jquery/dist/jquery.min.js"></script>
        <script src="/../javascripts/bootstrap/dist/js/bootstrap.min.js"></script>
        <script type="text/javascript" src="/../javascripts/all.js"></script>
    </head>
    <body>
        <div >
            <div class="page-container">
                <nav class="navbar navbar-default" role="navigation">
                    <div class="navbar-header">
                        <!--<img src="https://yt3.ggpht.com/-szF7W3W6VDc/AAAAAAAAAAI/AAAAAAAAAAA/vhS9SaGKO24/s100-c-k-no/photo.jpg" width="50" height="50">-->
                        <a class="navbar-brand" href="/"> XXXVIII Torneio Internacional Piratas da Ilha</a>
                    </div>

                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                        <ul class="nav navbar-nav">
                            <li><a href="/equipes">Inscrições</a></li>
                            <li><a href="/atletas/ordenado">Lista Ordenada</a></li>
                        </ul>
                </nav>
