<%- include layouts/header.ejs %>
<div class="container">
    <div class="row">
        <div class="col-md-4 portfolio-item">
            <a href="/atletas/prova">
                <img class="img-responsive" src="../images/inscritos.png" alt="">
            </a>
            <h3>
                <a href="/atletas/prova">Inscritos</a>
            </h3>
            <p>Lista de inscritos para a prova.</p>
        </div>
        <div class="col-md-4 portfolio-item">
            <a href="/apuracao/sorteio">
                <img class="img-responsive" src="../images/sorteio.png" alt="">
            </a>
            <h3>
                <a href="sorteio">Sorteio</a>
            </h3>
            <p>Visualize e registre o sorteio da prova.</p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4 portfolio-item">
            <a href="/apuracao/lancamento">
                <img class="img-responsive" src="../images/lancamento.png" alt="">
            </a>
            <h3>
                <a href="/apuracao/lancamento">Lançamento</a>
            </h3>
            <p>Apurar os resultados do prova de lançamento.</p>
        </div>
        <div class="col-md-4 portfolio-item">
            <a href="/apuracao/especifica">
                <img class="img-responsive" src="../images/especifica.png" alt="">
            </a>
            <h3>
                <a href="/apuracao/especifica">Específica</a>
            </h3>
            <p>Apurar os resultados da prova específica de pesca.</p>
        </div>
        <div class="col-md-4 portfolio-item">
            <a href="/apuracao/variada">
                <img class="img-responsive" src="../images/variada.png" alt="">
            </a>
            <h3>
                <a href="/apuracao/variada">Variada</a>
            </h3>
            <p>Apurar os resultados da prova variada de pesca.</p>
        </div>
    </div>

    <div class="row">
        <div class="col-md-4 portfolio-item">
            <a href="/apuracao/calc/">
                <img class="img-responsive" src="../images/resultados.png" alt="">
            </a>
            <h3>
                <a href="/apuracao/calc/">Resultados</a>
            </h3>
            <p>Lista de resultados completos da prova.</p>
        </div>
        <div class="col-md-4 portfolio-item">
            <a href="/apuracao/premiados">
                <img class="img-responsive" src="../images/premiados.png" alt="">
            </a>
            <h3>
                <a href="/atletas/prova">Premiados</a>
            </h3>
            <p>Lista de premiados da prova.</p>
        </div>
        <div class="col-md-4 portfolio-item">
            <a href="/listas">
                <img class="img-responsive" src="../images/report.png" alt="">
            </a>
            <h3>
                <a href="/listas">Relatórios</a>
            </h3>
            <p>Relatórios da prova.</p>
        </div>
    </div>
    <hr>

    <footer>
        <div class="row">
            <div class="col-lg-12">
                <p>Copyright &copy; Éverton Amorim</p>
            </div>
        </div>
    </footer>

</div>

<%- include layouts/footer.ejs %>
